
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  justify-content: center;
  align-items: center;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* content block */
.content {
  inline-size: 1140px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: end;
  padding: 266px 30px;
}



/* searchform */
.search-form {
  width: 711px;
  height: 54px;
} 

/* video and container */
.result__video-container {
  position: relative;
  margin-block-end: 12px;
}

/* video and container */
.result__video {
  inline-size: 711px;
  block-size: 386px;
  object-fit: cover;
  object-position: center;
}

/* search form */
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-block-start: 3px;
}