
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  justify-content: center;
  align-items: center;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* hide visually hidden */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


/* content block */
.content {
  inline-size: 1140px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: end;
  padding: 266px 30px;
}

/* searchform */
.search-form {
  width: 711px;
  height: 54px;
} 

/* search menu */ 

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 0;
}

/* search menu title*/ 
.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

/* search menu city search field*/ 
.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* video and container */
.result__video-container {
  position: relative;
  margin-block-end: 12px;
}

/* video and container */
.result__video {
  inline-size: 711px;
  block-size: 386px;
  object-fit: cover;
  object-position: center;
}

/* search form */
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* block content detail*/
.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* title h1 */
.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  padding-block-start: 3px;
}

.search-form__label:hover > .search-form__label-text:not(.visually-hidden),
.button:hover,
.content__card-link:hover .content__video-card-description-container {
  text-decoration: underline;
}